// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background: #0f0c29;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	
	font-family: 'Assistant', sans-serif;
	color: white;
	text-shadow: 2px 2px black;
}

h1,h2 {
	text-align: center;
}

h2 {
	margin-bottom: 10px;
}
.page-container {
	display: flex;
	justify-content: center;
}

.game-container {
	margin-right: 50px;
	width: 400px;
	border: 3px solid black;
}

.stats-container, .move-history-container {
	border-radius: 5px;
	background-color: rgba(255, 255, 255, .1);
	text-align: left;
	width: 225px; 
	padding: 5px;
	box-shadow: 1px 1px rgba(255, 255, 255, .5);
}

.move-history-container {
	margin-right: 50px;
	overflow-y: scroll;
	height: 395px;
}

.stats-container p, .move-history-container p {
	margin-top: 5px;
	margin-bottom: 5px;
}

.stats-container h3, .move-history-container h3 {
	margin-bottom: 5px;
	margin-top: 5px;
}

.row {
	text-align: center;
	margin: 0;
	padding: 0;
}

.col {
	display: table-cell;
	height: 50px;
	width: 50px;
	margin: 0;
	padding: 0;
}

.light {
	background-color: #ECECD2;
}

.dark {
	background-color: #779557;
}

.piece {
	text-align: center;
	padding: 0;
	margin: 0;
	font-size: 35px;
	cursor: pointer;
	color: black;
	text-shadow: none;
}

.button-container {
	text-align: center;
}

input[type="submit"] {
	margin: 5px;
	border-radius: 4px;
	border: none;
	color: white;
	text-shadow: 2px 2px black;
	background-color: green;
	box-shadow: 1px 1px rgba(255, 255, 255, .3);
}

p.piece i {
	text-shadow: 0 0 2px #000;
}

i.white {
	color: white;
}

i.black {
	color: black
}